[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = {extras = ["jupyter"], version = "*"}
flake8 = "*"
ipykernel = "*"
pandas = "*"
selenium = "*"

[dev-packages]
src = {editable = true, path = "."}

[requires]
python_version = "3.9"
