[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyprojroot = "*"
uvicorn = {extras = ["standard"], version = "*"}
opencv-python-headless = "*"
fastapi = "*"
python-multipart = "*"
joblib = "*"
scikit-learn = "*"

[dev-packages]
flake8 = "*"
ipykernel = "*"
pandas = "*"
selenium = "*"
requests = "*"
matplotlib = "*"
xgboost = "*"
seaborn = "*"
src = {path = "."}

[requires]
python_version = "3.9"
