[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
ipykernel = "*"
pandas = "*"
selenium = "*"
pyprojroot = "*"
requests = "*"
opencv-python = "*"
matplotlib = "*"
install = "*"
scikit-learn = "*"
xgboost = "*"
ipykernel = "*"

[requires]
python_version = "3.9"



